.visitor-dashboard {
  position: fixed;
  bottom: 30px;              
  left: 20px;
  background: white;
  padding: 1rem 1.2rem;
  width: 240px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  font-size: 1rem;
  z-index: 1;
}

.vd-item {
  display: flex;
  justify-content: space-between;
  margin: 1px 0;
  font-size: 1.05rem;
  font-weight: 500;
}