.visitor-dashboard {
  position: fixed;
  top: 6.5vw;              
  left: 1vw;
  background: white;
  padding: 1rem 1.2rem;
  width: 240px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  font-size: 1rem;
  z-index: 1;
}

.vd-item {
  display: flex;
  justify-content: space-between;
  margin: 1px 0;
  font-size: 1.05rem;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .visitor-dashboard{
    width: 150px;
    top: 8.5vw;
  }
}

@media (max-width: 768px) {
  .visitor-dashboard{
    position: fixed;
    width: 240px;
    top: 70vw;
  }
}

@media (max-width: 425px) {
  .visitor-dashboard{
    position: fixed;
    width: 240px;
    top: 110vw;
  }
}

@media (max-width: 375px) {
  .visitor-dashboard{
    position: fixed;
    width: 240px;
    top: 110vw;
  }
}

@media (max-width: 320px) {
  .visitor-dashboard{
    position: fixed;
    width: 240px;
    top: 120vw;
  }
}